mkpat
conn.c
patterns.c
apatterns.c
dpatterns.c
mkeyes
eyes.c
influence.c
barriers.c
endgame.c
aa_attackpat.c
owl_attackpat.c
fusekipat.c
fuseki*.c
joseki
hoshi*.db
gogo.db
komoku.db
sansan.db
mokuhazushi.db
takamoku.db
josekidb.c
extract_fuseki
uncompress_fuseki
owl_vital_apat.c
owl_defendpat.c
handipat.c
oraclepat.c
mkmcpat
mcpat.c
